<ng-container *ngFor="let questions of question_answers_list;">
  <br /><br />
 <div [innerHtml]="questions.question"></div>
  <ng-container *ngFor="let answers of getAnswersOnTheBasisOfQuestion(questions.question)">
    <button [innerHtml] = "answers" (click)="calcuateNumOfQuestionsAnswered(questions.question, answers)"
      [ngStyle]="evaluateBackgroundColor(questions.question, answers) ? {'background-color': 'green', 'margin-left': '10px'} : {'background-color': 'white', 'margin-left': '10px'}"></button>
  </ng-container>
</ng-container>

<br /><br />
<ng-container *ngIf="selectedAnswersMap.size == 5">
  <button [routerLink]="'/results'">Submit</button>
</ng-container>
